* {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: blue;
    font-size: 33px;
    font-family: Arial, Helvetica, sans-serif;
}

#meuId {
    color: green;
}

.minhaClasse {
    color: pink;
    font-size: 66px;
    font-family: 'Courier New', Courier, monospace;
}

p.minhaClasse2 {
    color: red;
}